/* imported font into css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Default styling */
*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* Included a red border to see the box lines */
}

a {
    display: block;
    float: right;
    padding: 8px;
}

body {
    background-color: #ede3af;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
}

h2 {
    padding: 10px;
}

h6 {
    padding-top: 10px;
    padding-bottom: 100px;
}
/* added padding-bottom to create space to footer */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
    width: 100%;
    background-color: #328ba8;
}

nav li {
    display: table-cell;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
div{
    display: flex;
    justify-content: center;
}

img {
    width: 70%;
    height: 100%;
    padding: 10px;
    margin: 10px; 
}

li {
    border-right: 1px solid;
}

li a:hover {
    background-color:#240705;
}
 nav li {
     display: inline-block;
 }

p {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1.2em;
    /* word-wrap: break-word; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
 
.active {
    background-color: #050526;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
/* created fixed footer and made inline and stuck it to the bottom using "position and bottom" */
   
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: inline;
    position: fixed;
}

.title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.skills {
    text-align: center;
}

.skills img {
    width: 100px;
    height: auto;
}


.blog {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;

}

.blog-img {
    align-self: auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#profile {
    display: flex;
    padding: 10px;
    align-items: baseline;
}
#profile img {
    width: 75%;
    margin: 0 25%;
    border-radius: 70%;
}

#profile p{
    margin: 20px;
    color: #414542;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.75;
    text-align: center;
}

#aboutme img {
    width: 50%;
}

#blog-heading {
    padding: 10px;
}
/* used display: flex; to center resume link */
#resume {
    display: flex;
    padding-bottom: 50px;
}

#intro {
    position: fixed;
    /* left: 50px; */
}

/* Used the responsive media queries from w3 schools */
/* responsive media quieries */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    #profile p {font-size: 1.7em;}
    .blog {width: 75%;}
    #resume {padding-bottom: 50px;}
}
  
  @media only screen and (min-width: 600px) {
/* larger than 601px - 768  px */
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    p{font-size: 1.5em;}
    #profile p{font-size: 1.7em;margin-top:80px;}
    #profile img {width: 40%;margin-top: 50px;}
    .title {font-size: 3.5em;}
    .blog {width: 35%;}
  }

  @media only screen and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .container {margin: 0px 150px;}
    #profile img {width: 60%; margin: 0 50%;}
    #profile p {font-size: 1.2em; margin: 10%;}
    #aboutme img {width: 25%;}
    .blog {width: 25%;}
}